input[type=checkbox]{
    /*visibility: hidden;*/
    display: none;
}
input.cb-input + span{
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgba(240,84,77,1);
}
input.cb-input:checked + span::before{
    display: inline-block;
    content: "\2714";
    font-size: 16px;
    color: #FFFFFF;
}