<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmallFlame</title>
    <link rel="icon" type="image/png" href="/static/image/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/3rdLibs/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    {% block css %}
    {% endblock %}

    <script src="/static/3rdLibs/jquery-3.2.1/jquery-3.2.1.js"></script>
    {% block js %}
    {% endblock %}

</head>
<body>
{% include 'page_header.html' %}
{% include 'top_nav_bar.html' %}
{% block content %}
<div class="flame-container flame-body">
{#    <div class="left-column"></div>#}
{#    <div class="center-column"></div>#}
</div>
{% endblock %}
</body>

{# 用于设置 #}
{% block setting_js %}
<script src="/static/js/mysite/home.js"></script>
{% endblock %}

{# 自己的Js文件 #}
{% block custom_js %}
{% endblock %}


</html>