<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmallFlame</title>
    <link rel="icon" type="image/png" href="/static/image/favicon.png">

    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
<div class="container page-header">
    <div class="logo"></div>
    <div class="website-name">The Small Flame</div>
    <div class="search-box">
        <input type="text" placeholder="search......">
    </div>
</div>
<div class="nav-bar-box">
    <div class="container">
        <ul class="flame-nav-bar">
            <li>
                <a class="active" href="home/">首 页</a>
            </li>
            <li>
                <a class="home/">前端插件</a>
            </li>
            <li>
                <a class="home/">JavaScript</a>
            </li>
        </ul>
    </div>
</div>
<div class="container page-body">
{#    <div class="left-column"></div>#}
{#    <div class="center-column"></div>#}
</div>
<div class="container page-footer"></div>
</body>
</html>