<div class="left-nav-title">
    <i class="fa fa-reorder"></i>DataTable示例
</div>
<ul class="left-nav-bar">
    <li>
        <a href="/plugins/datatable/learn01">createdRow示例</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn02">搜索示例</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn03">获取行数据</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn04">列的或搜索（正则式搜索）</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn05">行编辑、下拉</a>
    </li>
    <li>
        <a href="/plugins/datatable/demo/06">行折叠与展开</a>
    </li>
    <li>
        <a href="/plugins/datatable/demo/07">dom的使用</a>
    </li>
</ul>

<script>
    var index = "{{ active_idx | safe }}";
    $("ul.left-nav-bar > li").eq(Number(index) -1).find("a:first-child").addClass("active");
</script>
