<div class="left-nav-title">
    <i class="fa fa-reorder"></i>DataTable示例
</div>
<ul class="left-nav-bar">
    <li>
        <a href="/plugins/datatables/demo/01">零配置</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/02">语言国际化</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/03">DOM定位</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/04">不同的分页样式</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/05">功能启用/禁用</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/06">保存状态</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/07">垂直滚动条</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/08">隐藏列</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/09">默认排序</a>
    </li>
    <li>
        <a href="/plugins/datatables/demo/10">createdRow示例</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn02">搜索示例</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn03">获取行数据</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn04">列的或搜索（正则式搜索）</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn05">行编辑、下拉</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn06">行折叠与展开</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn07">行分组</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn08">隐藏列的搜索</a>
    </li>
</ul>

<script>
    var index = "{{ active_idx | safe }}";
    $("ul.left-nav-bar > li").eq(Number(index) -1).find("a:first-child").addClass("active");
</script>
