<div class="left-nav-title">
    <i class="fa fa-reorder"></i>DataTable示例
</div>
<ul class="left-nav-bar">
    <li>
        <a href="/plugins/datatable/learn01">createdRow示例</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn02">搜索示例</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn03">获取行数据</a>
    </li>
    <li>
        <a href="/plugins/datatable/learn04">选中行(多行)</a>
    </li>
</ul>

<script>
    $("ul.left-nav-bar > li").eq({{ active_idx }}).find("a:first-child").addClass("active");
</script>
