<div class="left-nav-title">
    <i class="fa fa-reorder"></i>ECharts示例
</div>
<ul class="left-nav-bar">
    <li>
        <a href="/plugins/echarts/demo/1">渐变色 阴影 点击缩放</a>
    </li>
    <li>
        <a href="/plugins/echarts/demo/2">barGap示例</a>
    </li>
    <li>
        <a href="/plugins/echarts/demo/3">排名</a>
    </li>
    <li>
        <a href="/plugins/echarts/demo/4">示例</a>
    </li>
    <li>
        <a href="/plugins/echarts/demo/5">示例</a>
    </li>
    <li>
        <a href="/plugins/echarts/demo/6">示例</a>
    </li>
    <li>
        <a href="/plugins/echarts/demo/7">示例</a>
    </li>
    <li>
        <a href="/plugins/echarts/demo/8">示例</a>
    </li>
</ul>

<script>
    var index = "{{ active_idx | safe }}";
    $("ul.left-nav-bar > li").eq(Number(index) -1).find("a:first-child").addClass("active");
</script>
