{% extends 'home.html' %}

{% block content %}
<div class="nav-bar-box">
    <div class="container">
        <ul class="flame-nav-bar">
            <li>
                <a href="/home">首 页</a>
            </li>
            <li>
                <a class="active" href="/plugins/index">前端插件</a>
            </li>
            <li>
                <a href="#">JavaScript</a>
            </li>
        </ul>
    </div>
</div>
<div class="container page-body">
    <div class="left-column">
        <div class="left-nav-title">
            <i class="fa fa-reorder"></i>全部插件
        </div>
        <ul class="left-nav-bar">
            <li>
                <a href="#"><i class="fa fa-external-link"></i>表格插件</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-external-link"></i>日期插件</a>
            </li>
        </ul>

    </div>
    <div class="center-column">
        AAAAAAAAAAAAA
    </div>
</div>
<div class="container page-footer"></div>

{% endblock %}
