{% extends 'home.html' %}

{% block content %}
<div class="flame-container flame-body">
    <div class="left-column">
        {% block left_nav_bar %}
        {% include 'index_left_nav_bar.html' %}
        {% endblock %}
    </div>
    <div class="center-column">
        {% block center_content %}
            <div class="plugin-panel">
                <h3><i class="fa fa-list"></i>&nbsp;表格插件</h3>
                <div class="plugin-cards">
                    <a href="/plugins/datatable/learn01">
                        <span>DataTable</span>
                    </a>
                    <a href="#">
                        <span>jQGrid</span>
                    </a>
                    <a href="#">
                        <span>普通表格</span>
                    </a>
                </div>
                <div class="plugin-cards" style="display: none;">
                    <a href="#">
                        <span>DataTable</span>
                    </a>
                    <a href="#">
                        <span>jQGrid</span>
                    </a>
                    <a href="#" style="visibility: hidden"></a>
                </div>
            </div>
        <div class="plugin-panel">
            <h3><i class="fa fa-list"></i>&nbsp;Jquery UI</h3>
            <div class="plugin-cards">
                <a href="/plugins/draggable/demo/01">
                    <span>Draggable</span>
                </a>
                <a href="#">
                    <span>Droppable</span>
                </a>
                <a href="#" style="visibility: hidden"></a>
            </div>
        </div>
        <div class="plugin-panel">
            <h3><i class="fa fa-list"></i>&nbsp;下拉多选插件</h3>
            <div class="plugin-cards">
                <a href="/plugins/multiselect/learn01/">
                    <span style="font-size: 28px;">Bootstrap MultiSelect</span>
                </a>
                <a href="#">
                    <span>jQGrid</span>
                </a>
                <a href="#" style="visibility: hidden"></a>
            </div>
        </div>
        {% endblock %}

    </div>
</div>

{% endblock %}

{% block setting_top_nav %}
<script src="/static/js/PluginSpace/index.js"></script>
{% endblock %}