<div class="left-nav-box">
    <div class="left-nav-title">
        <i class="fa fa-reorder"></i>Draggable示例
    </div>
    <ul class="left-nav-bar">
        <li>
            <a href="/plugins/sortable/demo/1" name="demo_1">默认功能</a>
        </li>
        <li>
            <a href="/plugins/sortable/demo/2" name="demo_2">连接列表</a>
        </li>
        <li>
            <a href="/plugins/sortable/demo/3" name="demo_3">标签页连接列表</a>
        </li>
        <li>
            <a href="/plugins/sortable/demo/4" name="demo_4">延迟开始</a>
        </li>
        <li>
            <a href="/plugins/sortable/demo/5" name="demo_5">显示为网格</a>
        </li>
        <li>
            <a href="/plugins/sortable/demo/6" name="demo_6">放置占位符</a>
        </li>
        <li>
            <a href="/plugins/sortable/demo/7" name="demo_7">处理空白列表</a>
        </li>
        <li>
            <a href="/plugins/sortable/demo/8" name="demo_8">包含/排除条目</a>
        </li>
        <li>
            <a href="/plugins/sortable/demo/9" name="demo_9">门户组件（Portlets）</a>
        </li>
    </ul>
</div>

<script>
    var DEMO_IDX = '{{ active_idx | safe }}'; // 全局变量（用于left_nav.js）
</script>
<script src="/static/js/PluginSpace/left_nav.js"></script>