*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    margin: 0 !important;
    font-family: "Microsoft YaHei" !important;
    background-color: #f6f6f6 !important;
}
.flame-container{
    width: 100%;
    max-width: 1260px;
    /*max-width: 1380px;*/
    /*max-width: 1425px;*/
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}