
.flame-header{
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 15px 0;
}
.flame-header .logo{
    height: 60px;
    width: 60px;
    padding: 6px;
    border-radius: 50%;
    background-image: url("/static/image/logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    background-color: #f11533;
}
.flame-header .website-name{
    margin-left: 15px;
    font-size: 38px;
    font-weight: bold;
    font-family: fantasy;
    color: crimson;
}
.flame-header .search-box{
    position: absolute;
    right: 15px;
}
.search-box input{
    padding: 6px 15px;
    width: 260px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #777777;
    border: 1px solid #c8c8c8;
    border-radius: 15px;
    outline: none;
}
.nav-bar-box{
    width: 100%;
    height: 42px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #2cb3bf;
}
ul.flame-nav-bar{
    padding: 0;
    margin: 0;
}
ul.flame-nav-bar > li{
    float: left;
    list-style: none;
    height: 42px;
}
ul.flame-nav-bar > li > a{
    display: inline-flex;
    height: 42px;
    line-height: 42px;
    padding: 0 18px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
ul.flame-nav-bar > li > a:hover,
ul.flame-nav-bar > li > a.active{
    background-color: darkcyan;
    cursor: pointer;
}

.flame-body .left-column{
    float: left;
    width: 15%;
    height: auto;
    /*box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5);*/
}
.flame-body .center-column{
    float: right;
    padding: 8px 13px;
    width: calc(85% - 13px);
    height: auto;
    min-height: 320px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.left-nav-title{
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    font-size: 16px;
    background-color: #5bc0de;
    border-bottom: 1px solid #46b8da
}
ul.left-nav-bar{
    list-style: none;
    margin: 0 0;
    padding-inline-start: 0;
    padding: 4px 4px;
    border: 1px solid #eaeaea;
    border-top: none;
    background-color: #FFFFFF;
    box-shadow: -1px 1px 1px #c8c8c8;
}
ul.left-nav-bar > li{
    margin-bottom: 4px;
}
ul.left-nav-bar > li:last-child{
    margin-bottom: 0;
}
.left-column i.fa{
    margin-left: 6px;
    margin-right: 6px;
}
/*
.left-nav-bar li:nth-child(odd){
    background-color: transparent;
}
.left-nav-bar li:nth-child(even){
    background-color: transparent;
}
*/

.left-nav-bar i.fa{
    vertical-align: middle;
}
.left-nav-bar a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 6px 8px;
    color: #333333;
    background-color: #efefef;
    font-size: 15px;
    text-decoration: none;
}
.left-nav-bar a:hover{
    text-decoration: none;
    font-weight: bold;
    text-indent: 3px;
    color: #333333;
    background-color: #eaeaea;
}
.left-nav-bar a.active{
    color: #FFFFFF;
    background-color: darkcyan;
}
.plugin-panel{
    margin-bottom: 15px;
}
.plugin-panel > h3{
    margin: 0;
    font-size: 18px;
    border-bottom: 1px solid #eaeaea;
}
.plugin-panel > h3 i.fa{
    vertical-align: middle;
}
.plugin-cards{
    display: flex;
    justify-content:space-around;
    margin-bottom:8px;
    padding-left: 15px;
}
.plugin-cards a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: 32%;
    height: 80px;
    padding: 6px 13px;
    margin-top: 8px;
    border-radius: 5px;
    text-align: center;
    color: #505050;
    border: 1px solid #eaeaea;
    background-color: #f6f6f6;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5);
}
.plugin-cards a:hover{
    background-color: #eaeaea;
}
.plugin-cards a > span{
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
}