{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/3rdLibs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/jquery-ui-1.10.4.custom/css/base/jquery-ui-1.10.4.custom.css">

    <style>
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
        html>body #sortable li { height: 1.5em; line-height: 1.2em; }
        .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
    </style>
{% endblock %}
{% block js %}
    <script src="/static/3rdLibs/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="/static/plugins/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js"></script>
{% endblock %}

{% block content %}
<div class="flame-container flame-body">
    <div class="left-column">
        {% block left_nav_bar %}
        {% include 'sortable_left_nav_bar.html' with active_idx=demo_idx %}
        {% endblock %}
    </div>
    <div class="center-column">
        {% block center_content %}
        <p>
            当拖拽一个 sortable 条目到一个新的位置时，其他条目将为该条目腾出空间。
            向 <code>placeholder</code> 选项传递一个 class 来定义可视化的空白的样式。
            使用布尔值的 <code>forcePlaceholderSize</code> 选项来设置占位符的尺寸。
        </p>

        <ul id="sortable">
            <li class="ui-state-default">Item 1</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
            <li class="ui-state-default">Item 6</li>
            <li class="ui-state-default">Item 7</li>
        </ul>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">

$(document).ready(function () {
    $( "#sortable" ).sortable({
      placeholder: "ui-state-highlight"
    });
    $( "#sortable" ).disableSelection();
});

</script>
{% endblock %}

