{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/3rdLibs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables-1.10.18/datatables.css">

    <link rel="stylesheet" type="text/css" href="/static/css/PluginSpace/datatables/common.css">
    <style>
        td.details-control {
            background: url('/static/image/PluginSpace/demo_06/details_open.png') no-repeat center center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url('/static/image/PluginSpace/demo_06/details_close.png') no-repeat center center;
        }
        .log-details {
            text-align: left;
        }
    </style>
{% endblock %}
{% block js %}
    <script src="/static/plugins/datatables-1.10.18/datatables.js"></script>
    <script src="/static/3rdLibs/bootstrap-3.3.7/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
<div class="flame-container flame-body">
    <div class="left-column">
        {% block left_nav_bar %}
        {% include 'datatables_left_nav_bar.html' with active_idx=6 %}
        {% endblock %}
    </div>
    <div class="center-column">
        {% block center_content %}
        <div>
            <table id="example" class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Salary</th>
                        <th>操作</th>
                    </tr>
                </thead>
            </table>
        </div>

        <section style="display: none">
            <div class="log-details">
                <span class="log-time">2019-03-31 21:43:43</span>
                <span class="log-user">张三 lwx454367</span>
                <span class="log-status">已同步</span>
                <span class="log-reason">MR.343 MR.32432</span>
            </div>
        </section>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">


$(document).ready(function () {
    var dt_table = $("#example").DataTable({
        "language": {
            "url": "/static/plugins/datatables-1.10.18/i18n/Chinese.lang"
        },
        "order": [[1, "asc"]],
        "ajax": "/static/data/objects.txt",
        "columns": [
            {
                "class": "details-control",
                "orderable": false,
                "data": null,
                "defaultContent": ""
            },
            {"data": "name"},
            {"data": "position"},
            {"data": "office"},
            {"data": "salary"},
            {
                "data": null,
                "render": function (data, type, row, meta) {
                    return '<button class="btn btn-xs btn-danger btn-remove"><i class="fa fa-trash-o"></i></button>';
                }
            }
        ]
    });

    function get_logs(){
        var logs = {};
        $.ajax({
            "url": "/plugins/datatable/demo/06/log/data/",
            "method": "GET",
            "dataType": "json",
            "async": false,
            "success": function (data) {
                if(data.code == 200){
                    logs = data.logs;
                }
            }
        });

        return logs;
    }
    function format_log(){
        var logs = get_logs();
        var html_str = "<p>日志信息：</p>";
        var $dom = $(".log-details").clone();
        logs.forEach(function (log) {
            $dom.children("span.log-time").text(log["modify_time"]);
            $dom.children("span.log-user").text(log["modify_user_sn"] + " " + log["modify_user_name"]);
            $dom.children("span.log-status").text(log["modify_status"]);
            $dom.children("span.log-reason").text(log["modify_reason"]);

            html_str += $dom[0].outerHTML;
        });
        return html_str;
    }

    $("#example tbody")
        .on("click", "td.details-control", function () {
            $(dt_table.table().container()).addClass("selectable");
            $(dt_table.table().body()).addClass("highlight");

            var cur_tr = $(this).closest("tr");
            var cur_row = dt_table.row(cur_tr);
            var row_open = dt_table.row(".shown");
            if(row_open.index() && row_open.index() != cur_row.index()){
                row_open.child.hide();
                $(dt_table.table().body()).children("tr.shown").removeClass("shown");
            }

            if(cur_row.child.isShown()){
                cur_row.child.hide();
            }else {
                console.log("++++",cur_row.data());
                var tr_details = format_log();
                cur_row.child(tr_details).show();
            }
            cur_tr.toggleClass("shown")
        })
        .on("click", "button.btn-remove", function () {
            var tr = $(this).closest("tr");
            var row = dt_table.row(tr);
            row.remove().draw();
        })


});

</script>
{% endblock %}

