{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/3rdLibs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables-1.10.18/datatables.css">
    <link rel="stylesheet" type="text/css" href="/static/css/PluginSpace/datatables/common.css">
{% endblock %}
{% block js %}
    <script src="/static/plugins/datatables-1.10.18/datatables.js"></script>
    <script src="/static/3rdLibs/bootstrap-3.3.7/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
<div class="flame-container flame-body">
    <div class="left-column">
        {% block left_nav_bar %}
        {% include 'datatables_left_nav_bar.html' with active_idx=demo_idx %}
        {% endblock %}
    </div>
    <div class="center-column">
        {% block center_content %}
        <table id="example" class="table table-bordered" style="width: 100%;">
        <thead>
        <tr>
            <th>第一列</th>
            <th>第二列</th>
            <th>第三列</th>
            <th>第四列</th>
            <th>第五列</th>
            <th>第六列</th>
            <th>第七列</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>11</td>
            <td>111</td>
            <td>111 1</td>
            <td>111 11</td>
            <td>111 111</td>
            <td>111 111 1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>22</td>
            <td>222</td>
            <td>222 2</td>
            <td>222 22</td>
            <td>222 222</td>
            <td>222 222 2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>33</td>
            <td>333</td>
            <td>333 3</td>
            <td>333 33</td>
            <td>333 333</td>
            <td>333 333 3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>44</td>
            <td>444</td>
            <td>444 4</td>
            <td>444 44</td>
            <td>444 444</td>
            <td>444 444 4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>55</td>
            <td>555</td>
            <td>555 5</td>
            <td>555 55</td>
            <td>555 555</td>
            <td>555 555 5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>66</td>
            <td>666</td>
            <td>666 6</td>
            <td>666 66</td>
            <td>666 666</td>
            <td>666 666 6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>77</td>
            <td>777</td>
            <td>777 7</td>
            <td>777 77</td>
            <td>777 777</td>
            <td>777 777 7</td>
        </tr>
        <tr>
            <td>8</td>
            <td>88</td>
            <td>888</td>
            <td>8</td>
            <td>8</td>
            <td>8</td>
            <td>8</td>
        </tr>
        <tr>
            <td>9</td>
            <td>99</td>
            <td>999</td>
            <td>9</td>
            <td>9</td>
            <td>9</td>
            <td>9</td>
        </tr>
        </tbody>
        </table>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
"user strict"

$.extend(
    $.fn.dataTable.RowReorder.defaults, {selector: 'tr'}
);
$.fn.dataTable.defaults.rowReorder = true;

$(document).ready(function () {
    var dt_table = $("#example").DataTable();
});

</script>
{% endblock %}

