{% extends 'home.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/3rdLibs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables-1.10.18/datatables.css">
{% endblock %}
{% block js %}
    <script src="/static/plugins/datatables-1.10.18/datatables.js"></script>
    <script src="/static/3rdLibs/bootstrap-3.3.7/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
<div class="nav-bar-box">
    <div class="container">
        <ul class="flame-nav-bar">
            <li>
                <a href="/home">首 页</a>
            </li>
            <li>
                <a class="active" href="/plugins/index">前端插件</a>
            </li>
            <li>
                <a href="#">JavaScript</a>
            </li>
        </ul>
    </div>
</div>
<div class="container page-body">
    <div class="left-column">
        <div class="left-nav-title">
            <i class="fa fa-reorder"></i>DataTable练习
        </div>
        <ul class="left-nav-bar">
            <li>
                <a href="/plugins/datatable/learn01">练习一</a>
            </li>
            <li>
                <a href="/plugins/datatable/learn02">练习二(隐藏搜索框)</a>
            </li>
            <li>
                <a href="/plugins/datatable/learn03">练习三</a>
            </li>
        </ul>
    </div>
    <div class="center-column">
        <table id="dt_01" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
                <td>$372,000</td>
            </tr>
            <tr>
                <td>Herrod Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
                <td>59</td>
                <td>2012/08/06</td>
                <td>$137,500</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block custom_js %}


<script type="text/javascript">
$(document).ready(function () {
    "user strict"

    $("#dt_01").DataTable({
        dom: 'rtip',
        searchDelay: 350
    });

});
</script>
{% endblock %}

