{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/3rdLibs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables-1.10.18/datatables.css">

    <link rel="stylesheet" type="text/css" href="/static/css/PluginSpace/datatables/common.css">
{% endblock %}
{% block js %}
    <script src="/static/plugins/datatables-1.10.18/datatables.js"></script>
    <script src="/static/3rdLibs/bootstrap-3.3.7/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
<div class="flame-container flame-body">
    <div class="left-column">
        {% block left_nav_bar %}
        {% include 'datatables_left_nav_bar.html' with active_idx=3 %}
        {% endblock %}
    </div>
    <div class="center-column">
        {% block center_content %}
        <table id="example" class="table table-hover table-bordered" style="width: 100%;">
            <thead>
            <tr>
                {% for foo in table_head %}
                <th>{{ foo }}</th>
                {% endfor %}
            </tr>
            </thead>
        </table>
        <div>
        <pre id="select_row"></pre>
        </div>
        <div id="div_excel">

        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
$(document).ready(function () {
    var table = $("#example").DataTable({
        language: {
            url: "/static/plugins/datatables-1.10.18/i18n/Chinese.lang"
        },
        //dom: 'B<"clear">lfrtip',
        //dom: 'B<"clear">frtip',
        /*
        buttons: [
            "copy", "excel", "pdf"
        ],
        */
        searchDelay: 350,
        scrollX: true,
        scrollCollapse: true,
        ajax: "/plugins/datatable/data/year",
        columns: [
            {data: "name", orderable: false},
            {data: "sex"},
            {data: "role"},
            {data: "year_total"},
            {data: "month_avg"},
            {data: "code_enum.0", orderable: false},
            {data: "code_enum.1", orderable: false},
            {data: "code_enum.2", orderable: false},
            {data: "code_enum.3", orderable: false},
            {data: "code_enum.4", orderable: false},
            {data: "code_enum.5", orderable: false},
            {data: "code_enum.6", orderable: false},
            {data: "code_enum.7", orderable: false},
            {data: "code_enum.8", orderable: false},
            {data: "code_enum.9", orderable: false},
            {data: "code_enum.10", orderable: false},
            {data: "code_enum.11", orderable: false}
        ]
    });
    new $.fn.dataTable.Buttons(table, {
        buttons: ['excel']
    });
    table.buttons().container().appendTo($("#div_excel", table.table().container()) )

    $("#example tbody").on("click", "tr", function () {
        var txt = table.row(this).data();
        console.log(txt);
        $("#select_row").text(txt.name + " " +txt.sex + " " +txt.role);
    });

    $("#btn_excel").click(function () {
        var excel = new $.fn.dataTable.Buttons(table, {
            buttons: ['excel']
        });

        console.log(excel);

    });

});
</script>
{% endblock %}

